---
# tasks file for dns

- name: Import assert.yml
  ansible.builtin.import_tasks: assert.yml
  run_once: yes
  delegate_to: localhost

- name: Install dns
  ansible.builtin.package:
    name: "{{ dns_packages }}"
    state: present

- name: Create directories
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    mode: "{{ item.mode }}"
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
  loop:
    - path: "{{ dns_datadir }}"
      mode: "1770"
      owner: "{{ dns_owner }}"
      group: "{{ dns_group }}"
    - path: "{{ dns_confdir }}"
      mode: "0755"
      owner: root
      group: root
  loop_control:
    label: "{{ item.path }}"

- name: Create group
  ansible.builtin.group:
    name: "{{ dns_group }}"
    state: present

- name: Create user
  ansible.builtin.user:
    name: "{{ dns_owner }}"
    state: present
    system: yes

- name: Generate rndc key
  ansible.builtin.command:
    cmd: rndc-confgen -a -c "{{ dns_confdir }}/rndc.key"
    creates: "{{ dns_confdir }}/rndc.key"

- name: Set permissions on rndc key file
  ansible.builtin.file:
    path: "{{ dns_confdir }}/rndc.key"
    owner: "{{ dns_owner }}"
    group: "{{ dns_group }}"
    mode: "0640"

- name: Get the hints/root file
  ansible.builtin.get_url:
    url: "https://www.internic.net/domain/named.root"
    dest: "{{ dns_datadir }}/named.root"
    validate_certs: "{{ dns_validate_certs }}"
    mode: "0640"
    owner: "{{ dns_owner }}"
    group: "{{ dns_group }}"
  when:
    - dns_caching_dns
  notify:
    - Rndc reload

- name: Create zone files
  ansible.builtin.template:
    src: zone.j2
    dest: "{{ dns_datadir }}/{{ item.name }}.conf"
    mode: "0640"
    owner: "{{ dns_owner }}"
    group: "{{ dns_group }}"
  loop: "{{ dns_zones }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.type is undefined or
      item.type == "master"
  notify:
    - Rndc reload

- name: Add zones to configuration
  ansible.builtin.template:
    src: named.conf.j2
    dest: "{{ dns_confdir }}/named.conf"
    validate: named-checkconf -zj %s
    mode: "0640"
    owner: "{{ dns_owner }}"
    group: "{{ dns_group }}"
    backup: yes
  notify:
    - Restart dns

- name: Place systemd override
  when:
    - ansible_service_mgr == "systemd"
  block:
    - name: Create service.d {{ dns_service }}
      ansible.builtin.file:
        path: /etc/systemd/system/{{ dns_service }}.service.d
        state: directory
        mode: "0755"

    - name: Place override.conf
      ansible.builtin.copy:
        src: override.conf
        dest: /etc/systemd/system/{{ dns_service }}.service.d/override.conf
        owner: root
        group: root
        mode: "0644"

    - name: Systemctl daemon-reload
      ansible.builtin.systemd:
        daemon_reload: yes
      changed_when: no

- name: Start and enable dns
  ansible.builtin.service:
    name: "{{ dns_service }}"
    state: started
    enabled: yes
