options {
  directory "{{ zonesdir }}";
  dnssec-validation auto;
  auth-nxdomain no;
  listen-on { any; };
  listen-on-v6 { any; };
  allow-query { any; };
};

{% if caching_dns is defined %}
zone "." {
  type hint;
  file "{{ zonesdir }}/named.root";
};
{% endif %}

{% for zone in zones %}
zone "{{ zone.name }}" {
  type master;
  file "{{ zonesdir }}/{{ zone.name }}.conf";
};
{% endfor %}

include "{{ confdir }}/rndc.key";

controls {
  inet 127.0.0.1 port 953
  allow { 127.0.0.1; } keys { "rndc-key"; };
};
