; {{ ansible_managed }}
$ORIGIN {{ item.name }}.
$TTL {{ item.ttl|default('86400') }}
@	IN	SOA	{{ item.soa|default('localhost') }}.	hostmaster.{{ item.name }}. (
			{{ item.serial|default('1') }} ; serial
			{{ item.refresh|default('604800') }} ; refresh
			{{ item.retry|default('86400') }} ; retry
			{{ item.expire|default('2419200') }} ; expire
			{{ item.ttl|default('604800') }} ) ; minimum TTL

{% if item.ns is defined %}
{% for record in item.ns %}
  IN NS {{ record.name }}
{% endfor %}
{% endif %}

{% if item.mx is defined %}
{% for record in item.mx %}
  IN MX {{ record.priority|default('10') }} {{ record.name }}
{% endfor %}
{% endif %}

{% if item.records is defined %}
{% for record in item.records %}
{{ record.name }} IN	{{ record.type|default('A') }}	{{ record.value }}
{% endfor %}
{% endif %}
